.user-list-panel .panel-settings-container,
.user-list-panel .settings-container,
.user-list-panel .col > .bttn,
.user-modal .title-container,
.user-modal .button-container .bttn {
    background: #25BECE;
}

.allow {
    background-color: #4CAF50;
}

.dont-allow {
    background-color: #F44336;
}